.navbar-logo a:hover {
    color: #27E8A7;
    background-image: linear-gradient(#27E8A7, #1d8aa5);
    background-clip: text;
    color: transparent;
}

.navbar-bg {
    background-color: #232639;
    border-bottom: 1px solid #27E8A7;
    border-image: linear-gradient(to right, #27E8A7, #1d8aa5) 1;
}

.navbar-con {
    max-width: 1700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-con a {
    text-decoration: none;
    color: white;
}

.navbar-menu {
    display: flex;
    list-style-type: none;
}

.navbar-menu li:not(:nth-last-child(1)) {
    margin-right: 2rem;
}

.navbar-menu li a:hover {
    color: #27E8A7;
    background-image: linear-gradient(#27E8A7, #1d8aa5);
    background-clip: text;
    color: transparent;
}

.navbar-icon-menu {
    display: none;
}

@media screen and (max-width: 450px) {

    .navbar-icon-menu {
        display: block;
        padding: 1rem 0 1rem 0;
    }

    .navbar-menu {
        position: absolute;
        display: inline;
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #232639;
        z-index: 2;
        text-align: center;
        display: none;
        transition: 1s ease;
    }

    .navbar-menu.activate {
        display: block;
    }

    .navbar-menu li:not(:nth-last-child(1)) {
        margin-right: 0;
    }

    .navbar-menu li {
        padding-top: 2rem;
    }

    .cross-icon {
        text-align: end;
        padding: 10px;
    }
}